@model MotorBike.Models.CompraXRepuesto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-end">
    <div class="col-sm-2">
        <label asp-for="FkCategoria" class="form-label"></label>
        <select asp-for="FkCategoria" asp-items="ViewBag.FkCategoria" class="form-control-sm" id="txtcategoria"></select>
    </div>
    <div class="col-sm-2">
        <label asp-for="FkRepuesto" class="form-label"></label>
        <select asp-for="FkRepuesto" asp-items="ViewBag.FkRepuesto" class="form-control-sm" id="txtrepuesto"></select>
    </div>
    <div class="col-sm-2">
        <label class="form-label">Cantidad</label>
        <input class="form-control form-control-sm" type="text" id="txtcantidad">
    </div>
@*     <div class="col-sm-2">
        <label class="form-label">Precio Unitario</label>
        <input class="form-control form-control-sm" type="text" id="txtprecio">
    </div> *@
    <div class="col-sm-2">
        <label asp-for="PrecioUnitario" class="form-label"></label>
        <select asp-for="PrecioUnitario" asp-items="ViewBag.Precio" class="form-control-sm" id="txtprecio"></select>
    </div>
    <div class="col-sm-3">
        <button class="btn btn-success btn-sm" id="btnAgregar">Agregar</button>
        <button class="btn btn-primary btn-sm" id="btnTerminar">Terminar</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-sm" id="tbProducto">
            <thead>
                <tr class="table-dark">
                    <th>Categoria</th>
                    <th>Repuesto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>


        $("#btnAgregar").on("click", function () {


            var subtotal = parseFloat($("#txtprecio").val()) * parseFloat($("#txtcantidad").val())
            var total = subtotal + (subtotal * 0.19)

            $("#tbProducto tbody").append(

                $("<tr>").append(
                    $("<td>").text($("#txtcategoria").val()),
                    $("<td>").text($("#txtrepuesto").val()),
                    $("<td>").text($("#txtcantidad").val()),
                    $("<td>").text($("#txtprecio").val()),
                    $("<td>").text(subtotal),
                    $("<td>").text(total),
                )

            )

            $("#txtcategoria").val("")
            $("#txtrepuesto").val("")
            $("#txtcantidad").val("")
            $("#txtprecio").val("")
            $("#txtcategoria").focus();
        })

        $("#btnTerminar").on("click", function () {

            var oCompra_Repuesto = []
            var total = 0;


            $("#tbProducto > tbody > tr").each(function (i, tr) {

                oCompra_Repuesto.push(
                    {
                        FkCategoria: parseInt($(tr).find('td:eq(0)').text()),
                        FkRepuesto: parseInt($(tr).find('td:eq(1)').text()),
                        Cantidad: parseInt($(tr).find('td:eq(2)').text()),
                        PrecioUnitario: parseFloat($(tr).find('td:eq(3)').text()),
                        Subtotal: parseFloat($(tr).find('td:eq(4)').text()),
                        PrecioFinal: parseFloat($(tr).find('td:eq(5)').text())

                    }
                )
                total = total + parseFloat($(tr).find('td:eq(5)').text())

            })

            var today = new Date();

            // obtener la fecha de hoy en formato `MM/DD/YYYY`
            var now = today.toLocaleDateString('en-US');

            var oCompraVM = {
                oCompra: {
                    FechaCompra: now,
                    Total: total
                },
                oCompraXRepuesto: oCompra_Repuesto
            }

            console.log(oCompraVM)

           

            jQuery.ajax({
                url: '@Url.Action("Index","Compras")',
                type: "POST",
                data: JSON.stringify(oCompraVM),
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.respuesta) {
                        alert("Venta Registrada")

                        location.reload();
                    } else {
                        alert("Error")
                        console.log("Error")
                    }

                }

            })


        })


    </script>


}


@* <h1>Crear compra</h1>
<hr />
<div class="container">
    <div class="align-items-center">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FechaCompra" class="control-label"></label>
                        <input asp-for="FechaCompra" class="form-control" id="txtfecha" />
                        <span asp-validation-for="FechaCompra" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="Total" class="control-label"></label>
                        <input asp-for="Total" class ="form-control" id="txttotal"/>
                        <span asp-validation-for="FechaCompra" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 *@