@model MotorBike.Models.Ventas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Detalles de la Venta @Model.IdVenta</h4>
    <hr />
    <dl class="row">

    </dl>
</div>
<div class="mt-2">
    <a asp-action="Edit" asp-route-id="@Model?.IdVenta" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
</div>

